<app-header-nav-dashboard></app-header-nav-dashboard>
<div class="conatiner">


<app-side-bar-hm class="sidebar1" (emitter)="listen($event)"  ></app-side-bar-hm>

<main>
    @if(pageName=="Actualities")
    {
        <app-actualities></app-actualities>
    }
    @if(pageName=="integration-plan")
    {

        <app-integration-plan></app-integration-plan>
    }
    @if(pageName=="function-sheet")
    {
        <app-function-sheet></app-function-sheet>
    }

    @if(pageName=="evaluation")
    {
        <app-evaluation></app-evaluation>
    }

    @if (pageName=="ip-schedule") {
        <app-ip-schedule></app-ip-schedule>
    }
    @if (pageName=="hm-evaluation") {
        <app-hm-evaluation></app-hm-evaluation>
    }
    @if (pageName=="docs") {
        <app-hm-documents></app-hm-documents>
    }

</main>
<div class="side"></div>

<!-- <aside>
    <app-aside></app-aside>
</aside> -->
</div>
    
    
    
