<nav>
    <div>
        <div class="sidebar">
            
            <span class="lien" (click)="emit('Actualities')">
              <span class="material-symbols-outlined">
                newsmode
                </span>
              Actualities
              </span>
  
            <span class="lien" (click)="emit('Schedule')">
                <span class="material-symbols-outlined">calendar_month</span>
                Schedule
            </span>
  
            <span class="lien" (click)="emit('Courses')">
                <span class="material-symbols-outlined">book_4</span>
                Courses
            </span>
  
  
            <span class="lien" (click)="emit('Notes')">
              <span class="material-symbols-outlined">task</span>
                  Grades
            </span>
            <span class="lien" (click)="emit('Events')">
              <span class="material-symbols-outlined">emoji_events</span>
                Events
            </span>
  
            <span class="lien" (click)="emit('Clubs')">
                <span class="material-symbols-outlined">groups</span>
                Clubs
            </span>
  
            <span class="lien" (click)="emit('Payment')">
                <span class="material-symbols-outlined">payments</span>
                Payment
            </span>
  
            <span class="lien" (click)="emit('Enrolment')">
              <span class="material-symbols-outlined">prescriptions</span>
              Enrolment
            </span>
            
          </div>
    </div>
  </nav>