<div>
    <div class="img-container">
      <img src="../../../../assets/SEBNAL1.jpg" alt="" class="under-navbar" />
      <div class="page_title">Actualities</div>
    </div>
    <div class="card-conatiner">
      
        <!-- <app-card></app-card> -->
      <!-- <app-excel-viewer></app-excel-viewer> -->
       <!-- <app-admin-excel-upload></app-admin-excel-upload> -->



      <app-file-manager></app-file-manager>
       <!-- <app-excel-viewer></app-excel-viewer> -->


    </div>
  </div>
  
  <!-- background-image: url(../../../../assets/SEBNAL.jpg);
  background-size: cover;
  background-position: center; -->