<div class="cardd">
    <div class="useful-link">
      <div class="links">
        <p class="card-title">Useful Links</p>
      </div>
      <ul>
        <li>
          <a class="menu__link" href="https://www.linkedin.com/company/se-bordnetze-el-fejja" target="_blank">LinkedIn</a>
        </li>
        <li>
          <a class="menu__link" href="https://www.facebook.com/profile.php?id=100070229351948" target="_blank">Facebook</a>
        </li>
        <li>
          <a class="menu__link" href="mailto:someone@example.com" target="_blank">Email</a>
        </li>
      </ul>
    </div>
  </div>
  