<nav>
    <div>
        <div class="sidebar">
            
            <span class="lien" (click)="emit('Actualities')">
              <span class="material-symbols-outlined">
                newsmode
                </span>
              Actualities
              </span>

            <span class="lien" (click)="emit('function-sheet')">
              <span class="material-symbols-outlined">
                description</span>
                Function Sheet
            </span>  

            <span class="lien" (click)="emit('integration-plan')">
              <span class="material-symbols-outlined">calendar_month</span>
              Integration Plan
            </span>

            <span class="lien" (click)="emit('managment')">
              <span class="material-symbols-outlined">
                manage_accounts
                </span>
              Managment
          </span>

  
            <span class="lien" (click)="emit('evaluation')">
                <span class="material-symbols-outlined">fact_check</span>
                Feedback
            </span>


          </div>
    </div>
  </nav>