<nav>
    <div>
        <div class="sidebar">
            
            <span class="lien" (click)="emit('Actualities')">
              <span class="material-symbols-outlined">
                newsmode
                </span>
              Actualities
              </span>

            <span class="lien" (click)="emit('function-sheet')">
              <span class="material-symbols-outlined">
                description</span>
                Function Sheet
            </span>  
  
            <span class="lien" (click)="emit('userlist')">
                <span class="material-symbols-outlined">fact_check</span>
                List 
            </span>



          </div>
    </div>
  </nav>