<div class="card">
    <div class="bar"></div>
    <div class="card_form">
        <img src="../../../../assets/images/SebnLogo.png" alt="" width="100px" height="100px">
    </div>
    <div class="card_data">
      <div class="data">
        <div class="text">
          <label class="text_m">title</label>
          <div class="cube text_s">
            <label class="side front">aaaa</label>
            <label class="side top">bbbb</label>
          </div>
          <label class="text_d" id="description">desc
          </label>
        </div>
      </div>
      
    </div>
    <span title="Acceder a la lista (Temas)">Access</span>
  </div>
  