<div class="card">
    <div class="date-time-container">
      <time class="date-time" datetime="2022-10-10">
        <span>2024</span>
        <span class="separator"></span>
        <span>Aug 26</span>
      </time>
    </div>
    <div class="content">
    
      <div class="infos">
        <a href="#">
            <div class="card__img"></div>
            <span class="title">
            Employee Name
            </span>
        </a>
  
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
          dolores, possimus pariatur animi temporibus nesciunt praesentium dolore
          
        </p>
      </div>
  
        <a class="action" href="#">
          Read MORE
        </a>
    </div>
  </div>