<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="panel border bg-white">
          <div class="panel-heading text-center">
            <h3 class="pt-3 font-weight-bold">Login</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group pt-3">
                <label for="mat">Matricule</label>
                <input id="mat" formControlName="mat" type="number" class="form-control" placeholder="Matricule" required>
                <small *ngIf="loginForm.controls['mat'].invalid && loginForm.controls['mat'].touched" class="text-danger">*Matricule is required*</small>
              </div>
              <div class="form-group pt-3">
                <label for="password">Password</label>
                <div class="input-group">
                  <input id="password" formControlName="password" [type]="type" class="form-control" placeholder="Password" required>
                  <div class="input-group-append">
                    <button type="button" (click)="hideShowPass()" class="btn btn-outline-secondary">
                      <i [class]="eyeIcon"></i>
                    </button>
                  </div>
                </div>
                <small *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">*Password is required*</small>
              </div>
              <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  